td{
height:100px; 
width:100px; 
}

h1{

	border: 10px solid black;
	text-align: center;
	margin: 10px;
}

table{
	: center;
	width: 500px;
	height: 500px;
	border: 10px solid palegreen;
	margin: auto;
}

.ver{
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.hor{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

